[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bdchecks"]
	path = bdchecks
	url = https://github.com/bd-r/bdchecks
	shallow = true
	registered = true
[submodule "bdclean"]
	path = bdclean
	url = https://github.com/bd-r/bdclean
	shallow = true
	registered = true
[submodule "bdDwC"]
	path = bdDwC
	url = https://github.com/bd-R/bdDwC
	shallow = true
	registered = false
[submodule "bdutilities"]
	path = bdutilities
	url = https://github.com/bd-R/bdutilities
	shallow = true
	registered = false
[submodule "bdutilities.app"]
	path = bdutilities.app
	url = https://github.com/bd-R/bdutilities.app
	shallow = true
	registered = false
